body {
  background: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-size: 16px;
  
}



main {
  max-width: 435px;
  background-color: white;
  margin: 3rem 0;
  border-radius: 2rem;
  overflow: scroll;
  height: 100vh;
  text-align: center;
}

img {
  width: 100%;
}

.pale-text{
    color: hsl(224, 23%, 55%);
}

.text-left {
  text-align: left;
}

.content-container {
  padding: 1.5rem 3rem;
}

h1 {
  font-weight: 900;
}

.annual-plan {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 16px;
}

.music {
  width: 100%;
  margin-right: 1rem;
}

.change a{
    color:hsl(245, 75%, 52%)    ;
    font-weight: 700;
}

.change a:hover{
    text-decoration: none;
    color:  hsl(224, 23%, 55%);
}

button {
  border: none;
  margin-bottom: 2rem;
  width: 100%;
  font-weight: 700;
}

.proceed{
    background-color:hsl(245, 75%, 52%);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.proceed:hover{
    opacity: 0.8;
}

.cancel{
    background-color: transparent;
}

.cancel:hover{
    color: black;
    font-weight: 700;
}

@media screen and (max-width: 375px) {

    body{
        background-color: hsl(225, 100%, 94%);
    }

    main{
        max-width: 340px;
    }

    .content-container{
        padding: 1.5rem 2rem;
    }

   .col-2{
    width: 23%;
    padding: 0;
   }

   .col-7{
    width: 50.33%;
   }


}